/Labo/Labo03/helloworld/target/
/Labo/Labo03/helloendpoints/target/
/Labo/Labo06/TicTacServer/nbproject/private/
/Labo/Labo06/TicTacClient/nbproject/private/
/Labo/Labo06/TicTacServer/build/
/Labo/Labo06/TicTacClient/build/